



<html>
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <title>CS340 Final Project</title>

    <script type="text/javascript">
    function deleteComputer(id){
    console.log("In delte computer ajax stuff, id is: " + id);
    $.ajax({
        url: '/computer/' + id,
        type: 'DELETE',
        success: function(result){
            window.location.reload(true);
        }
      })
    };
</script>
    </head>
    <body>
        <div>
            <div>
                <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/team">Team</a></li>
                        <li><a href="/building">Buildings</a></li>
                        <li><a href="/employee">Employees</a></li>
                        <li><a href="/workson">Team/Employee</a></li>
                        <li class="active"><a href="/computer">Computers<span class="sr-only">(current)</span></a></li>
                    </ul>
                </nav>
            </div>
            <br/>
            
            <!-- Put contents here -->
            
    

    
    
    <form class="form-horizontal", id="addCommputer" action="/computer" method="post">
    <fieldset>
    





    <!-- Form Name -->
    <legend>Add New Computer</legend>
    <p>To enter new computer, fill out information below and hit submit</p>

    <!-- Name Input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="name">Enter computer name</label>  
      <div class="col-md-4">
      <input id="name" name="name" type="text" placeholder="Enter computer name here" class="form-control input-md" required="">
        
      </div>
    </div>

    <!-- Type input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="type">Operating system</label>  
      <div class="col-md-4">
      <input id="type" name="type" type="text" placeholder="OS" class="form-control input-md">
        
      </div>
    </div>
    
    <!-- Serial-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="serial">Enter serial code</label>  
      <div class="col-md-4">
      <input id="serial" name="serial" type="text" placeholder="Serial" class="form-control input-md">
        
      </div>
    </div>



    
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>
    </div>
    
    
    </fieldset>
    </form>

    
    <!--Filter text -->
    <form class="form-horizontal",id="filterComputer" action="/computer/filter" method="post">
    <fieldset>

    <!-- Form Name -->
    <legend>Filter Computers by Serials</legend>

    
    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="serial">All serial #'s larger than:</label>  
      <div class="col-md-4">
      <input id="serial" name="serial" type="text" placeholder="Enter Int of serial" class="form-control input-md">
        
      </div>
    </div>
    
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>
    </div>
    
    
    </fieldset>
    </form>
    

    
    
    
    
    <table class="table"> 
        <thead> 
            <th>Name</th> 
            <th>Type</th> 
            <th>Serial</th>
            <th>Delete</th>
        </thead> 
        <tbody> 
            {{#each people}} 
            <tr> 
                <td>{{name}}</td> 
                <td>{{type}}</td> 
                <td>{{serial}}</td> 
                <td><button onclick="deleteComputer({{id}})">Delete</button></td>
            </tr> 
            {{/each}} 
        </tbody> 

    </table> 
    </body>
</html>
