<html>
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

        <script src="handlebars/dist/handlebars.min.js"></script>
        <script src="handlebars-intl/dist/handlebars-intl.min.js"></script>
    </head>
    <body>
        <div>
            <div>
                <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/team">Team</a></li>
                        <li><a href="/building">Buildings</a></li>
                        <li><a href="/employee">Employees</a></li>
                        <li class="active"><a href="/title">Titles<span class="sr-only">(current)</span></a></li>
                        <li><a href="/workson">Team/Employee</a></li>
                    </ul>
                </nav>
            </div>
            <br/>
            
            <!-- Put contents here -->
    

    
    
    <form class="form-horizontal", id="addTitle" action="/title" method="post">
    <fieldset>

    <!-- Form Name -->
    <legend>Add New Title</legend>
    <p>To enter new title, fill out information below and hit submit</p>

    <!-- Title Description Input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="description">Description</label>  
      <div class="col-md-4">
      <input id="description" name="description" type="text" placeholder="Enter description here" class="form-control input-md" required="">
        
      </div>
    </div>

    <!-- Salary input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="salary">Salary</label>  
      <div class="col-md-4">
      <input id="salary" name="salary" type="text" placeholder="Salary" class="form-control input-md">
        
      </div>
    </div>
    
    <!-- Minium Years-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="min_years">Minimum years experience</label>  
      <div class="col-md-4">
      <input id="min_years" name="min_years" type="text" placeholder="Enter years required" class="form-control input-md">
        
      </div>
    </div>
        
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>
    </div>
    
    
    </fieldset>
    </form>

    
    <!--Filter text -->
    <form class="form-horizontal",id="filterTitle" action="/title/filter" method="post">
    <fieldset>

    <!-- Form Name -->
    <legend>Find All Titles With Higher than Salary Below</legend>

    
    <!-- Select Basic -->
    <!-- Salary input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="minSalary">Minimum Salary</label>  
      <div class="col-md-4">
      <input id="minSalary" name="minSalary" type="text" placeholder="minSalary" class="form-control input-md">
        
      </div>
    </div>
    
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>
    </div>
    
    
    </fieldset>
    </form>
    

    
    
    
    <h1>{{startSource}} Titles:</h1>
    <table class="table"> 
        <thead> 
            <th>Description</th> 
            <th>Salary</th> 
            <th>Minimum Years</th>
        </thead> 
        <tbody> 
            {{#each people}} 
            <tr> 
                <td>{{description}}</td> 
                <td>{{salary}}</td> 
                <td>{{min_years}}</td> 
            </tr> 
            {{/each}} 
        </tbody> 

    </table> 
    </body>
</html>
